/*

This is the CSS for hotel review system.

@author : Siddharth Tarey
@author : Swapnil Kamat
@author : Deepak Shankar
@author : Onkar Deorukhkar

*/

#mainbg {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 160px;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot');
    src: url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.outer {
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
    Padding: 10px;
}

.author-name {
    background-color: #f9f9f9;
    text-align: left;
    min-height: 40px;
    width: 100%;
    padding: 10px
}

.review-title {
    font-size: 18pt;
    margin: 0px;
}

.left {
    vertical-align: top;
    display: inline-block;
    min-height: 100px;
    width: 49%;
    padding-top: 10px;
}

.right {
    vertical-align: top;
    display: inline-block;
    min-height: 100px;
    width: 49%;
    padding-top: 10px;
}

.authorrating {
    margin: 0px;
}

.gridelem {
    width: 280px;
    height: 20px;
    display: inline-block;
    float: left
}

#divservices {
    width: 100%;
    height: auto;
    overflow: auto
}

a.submit-review {
    width: 100px;
    height: 100px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 80px;
    bottom: 20px;
    background: url("../img/review.png") no-repeat center 50%;
    background-size: 100px 100px;
}

.delete-icon {
    height: 20px;
    width: 20px;
    float: right
}
